on:
  workflow_call:

name: check

jobs:

  check:

    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macos-latest,    r: 'release'}
          - {os: windows-latest,  r: 'release'}
          - {os: ubuntu-latest,   r: 'devel', http-user-agent: 'release'}
          - {os: ubuntu-latest,   r: 'oldrel-1'}

    env:
      GITHUB_PAT: ${{ secrets.BLOCKR_PAT }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - name: Resolve dep refs
        id: dep-refs
        env:
          PR_BODY: ${{ github.event.pull_request.body }}
        run: |
          Rscript - <<'REOF'
          body  <- Sys.getenv("PR_BODY")
          extra <- "any::rcmdcheck"
          if (nzchar(body)) {
            lines <- strsplit(body, "\r?\n", perl = TRUE)[[1]]
            start <- which(lines == "```deps")
            if (length(start)) {
              end  <- Filter(function(i) i > start[[1]], which(lines == "```"))[[1]]
              deps <- trimws(lines[(start[[1]] + 1L):(end - 1L)])
              extra <- c(extra, deps[nzchar(deps)])
            }
          }
          cat(c("extra-packages<<EOF", extra, "EOF"),
              file = Sys.getenv("GITHUB_OUTPUT"), sep = "\n", append = TRUE)
          REOF

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: ${{ steps.dep-refs.outputs.extra-packages }}
          needs: check

      - name: Use default mermaid format on CI
        run: Rscript -e 'unlink("vignettes/_metadata.yml")'

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
