on:
  push:
    branches: main
  pull_request:
    branches: main
  merge_group:

name: ci

jobs:
  ci:
    uses: cynkra/blockr.ci/.github/workflows/ci.yaml@main
    with:
      revdep-packages: '["BristolMyersSquibb/blockr.dock", "BristolMyersSquibb/blockr.dag"]'
      lintr-exclusions: >-
        vignettes/create-block.qmd,
        vignettes/extend-blockr.qmd,
        vignettes/blocks-registry.qmd,
        vignettes/get-started.qmd,
        vignettes/testing-blocks.qmd
    secrets: inherit
    permissions:
      contents: write
